<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eat Right</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../static/styles/landing.css" />
  <link rel="stylesheet" href="../static/styles/features.css" />
  <link rel="stylesheet" href="../static/styles/calorie_predictor.css" />
  <link rel="stylesheet" href="../static/styles/calorie_counter.css" />
  <link rel="stylesheet" href="../static/styles/recipe.css" />
  <link rel="stylesheet" href="../static/styles/recipe_view.css" />
  <link rel="stylesheet" href="../static/styles/recipe_submission.css" />
  <link rel="stylesheet" href="../static/styles/about_us.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../static/script.js"></script>
  <link rel="icon" href="../static/images/fork_knife.jpg" />
</head>

<body>
  <header id="eatright">

    <!-- Navigations on header -->

    <nav>
      <h2>
        <a href="#eatright">
          <ion-icon name="leaf-outline"></ion-icon>Eat Right
        </a>
      </h2>
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="three-lines">&#9776;</label>
      <ul class="menu-nav">
        <li><a href="#features">Features</a></li>
        <li><a href="#calorie-predictor">Calorie predictor</a></li>
        <li><a href="#calorie-counter">Calorie counter</a></li>
        <li><a href="#recipes">Recipes</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#developers">Developers</a></li>
      </ul>
      <div class="menu-icons">
        <a href="https://github.com/tcrz/Eat_Right" target="_blank">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </div>
    </nav>

    <!-- Home Page -->

    <div class="landing">
      <div class="hero-text-box">
        <h1>
          Hooked On Junk Food?
          <!-- <br />Eat Right, Stay Healthy<br /> -->
          We Are Here To Help
        </h1>
        <p>
          Welcome to Eat Right. We have provided you with calorie counter
          and a recipe section on our app so you can stay healthy!
        </p>
        <!-- <button class="CC-btn">Calorie counter</button> -->
        <a class="CC-btn" href="#calorie-counter">Calorie counter</a>
        <a class="recipes-btn" href="#recipes">Recipes</a>
      </div>
      <div class="hero-img">
        <img src="../static/images/FOOD.png" alt="healthy food" />
      </div>
    </div>
  </header>

  <!-- Featues of the webpage -->

  <section class="features" id="features">
    <h1 class="heading">Features</h1>
    <p class="subtext">Let us explore on the working of the app.</p>
    <div class="feature">
      <div class="boxes">
        <img src="../static/images/calorie_predictor.png" alt="calorie predictor" />
        <h4>Know your daily calorie intake</h4>
        <p>Use our extensive data to know your daily calorie intake based on your age, gender, activity level and even
          state of pregnancy.</p>
      </div>
      <div class="boxes">
        <img src="../static/images/calorie_counter.png" alt="calorie counter" />
        <h4>Calculate your meals</h4>
        <p>Calculate the calorie of your meals based on what you had for breakfast, lunch and dinner.</p>
      </div>
      <div class="boxes">
        <img src="../static/images/recipe_view.png" alt="Recipes book" />
        <h4>Explore our collection of Recipes</h4>
        <p>You will be able to view and search different recipes from all around the world.</p>
      </div>
      <div class="boxes">
        <img src="../static/images/recipe_submit.png" alt="Recipe submission form" />
        <h4>Share Your favorite Recipes</h4>
        <p>You can also share your favorite recipes with anyone who visits the site.</p>
      </div>
    </div>
    <p class="subtext">For visual explanation play the video below.</p>
    <div class="videos">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/rUrqp5kScu4" title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </section>

  <!-- Calorie Predictor -->

  <section class="calorie-predictor" id="calorie-predictor">
    <!-- <h1 class="heading">Calorie Predictor</h1> -->
    <p class="text">Please Fill out this form to determine what your daily calorie intake should be</p>
    <form onsubmit="return false;" class="predictor-form">
      <div class="gender">
        <h3>Gender</h3>
        <label for="Male">Male</label>
        <input type="radio" name="gender" class="gender" value="Male" id="Male" />
        <label for="gender">Female</label>
        <input type="radio" name="gender" class="gender" value="Female" id="gender" required /><br />
      </div>
      <div class=for-pregnant id="for-pregnant">
        <h3>Are You Pregnant?</h3>
        <label for="Yes">Yes</label>
        <input type="radio" name="ans" class="ans" value="Yes" id="Yes" />
        <label for="No">No</label>
        <input type="radio" name="ans" class="ans" value="No" id="No" required /><br>
      </div>
      <div class="term" id="term">
        <h3>What is the Term of Pregnancy?</h3>
        <label for="First">First</label>
        <input type="radio" name="term" class="trimester" value="First" id="First" required />
        <label for="Second">Second</label>
        <input type="radio" name="term" class="trimester" value="Second" id="Second" />
        <label for="Third">Third</label>
        <input type="radio" name="term" class="trimester" value="Third" id="Third" />
      </div>
      <div class="for-all" id="for-all">
        <div class="age-field">
          <h3>Age</h3>
          <input type="number" name="digit" class="age" required />
        </div>
        <div class="activity">
          <h3>Activity Level</h3>
          <select name="activity" class="act" required>
            <option value="" disabled selected>Select your option</option>
            <option value="Sedentary">Sedentary</option>
            <option value="Moderate-Activity">Moderate-Activity</option>
            <option value="Active">Active</option>
          </select><br>
        </div>
      </div>
      <button class="submission">Submit</button>
    </form>
    <p class="calorie-amount"></p>
  </section>

  <!-- Calorie Counter -->

  <section class="calorie-section" id="calorie-counter">
    <div class="calorie-counter">
      <h1 class="heading">Calorie counter</h1>
      <p class="subtext">
        Add items to calculate the calorie amount of your meals.
      </p>
      <h2>Breakfast</h2>
      <table>
        <tr>
          <th class="food-col">Food</th>
          <th>Calories</th>
        </tr>
        <tr class="search-field hide">
          <td class="search">
            <label>Foodname:</label>
            <input type="text" />
            <label>Quantity:</label>
            <input type="number" min="1" value="1" required />
            <label for="serving">Serving:</label>
            <select name="serving" id="serving">
              <option value="cup">cup</option>
              <option value="tsp">tsp</option>
              <option value="lb">lb</option>
              <option value="gram">gram</option>
              <option value="unit">unit</option>
              <option value="slice">slice</option>
            </select>
          </td>
          <td class="search-btn">
            <button>Search</button>
          </td>
        </tr>

        <tr>
          <td class="add-item">
            <ion-icon name="add-outline"></ion-icon>
            <p>Add Item</p>
          </td>
          <td style="border-width: 0px 0px">&nbsp;</td>
        </tr>
      </table>
      <h2>Lunch</h2>
      <table>
        <tr>
          <th class="food-col">Food</th>
          <th>Calories</th>
        </tr>
        <tr></tr>
        <tr class="search-field hide">
          <td class="search">
            <label style="font-size: 70%">Foodname:</label>
            <input type="text" />
            <label>Quantity:</label>
            <input type="number" min="1" value="1" required />
            <label for="serving">Serving:</label>
            <select name="serving" id="serving">
              <option value="cup">cup</option>
              <option value="tsp">tsp</option>
              <option value="lb">lb</option>
              <option value="gram">gram</option>
              <option value="unit">unit</option>
              <option value="slice">slice</option>
            </select>
          </td>
          <td class="search-btn">
            <button>Search</button>
          </td>
        </tr>

        <tr>
          <td class="add-item">
            <ion-icon name="add-outline"></ion-icon>
            <p>Add Item</p>
          </td>
          <td style="border-width: 0px 0px">&nbsp;</td>
        </tr>
      </table>
      <h2>Supper</h2>
      <table>
        <tr>
          <th class="food-col">Food</th>
          <th>Calories</th>
        </tr>
        <tr></tr>
        <tr class="search-field hide">
          <td class="search">
            <label style="font-size: 70%">Foodname:</label>
            <input type="text" />
            <label>Quantity:</label>
            <input type="number" min="1" value="1" required />
            <label for="serving">Serving:</label>
            <select name="serving" id="serving">
              <option value="cup">cup</option>
              <option value="tsp">tsp</option>
              <option value="lb">lb</option>
              <option value="gram">gram</option>
              <option value="unit">unit</option>
              <option value="slice">slice</option>
            </select>
          </td>
          <td class="search-btn">
            <button>Search</button>
          </td>
        </tr>
        <tr>
          <td class="add-item">
            <ion-icon name="add-outline"></ion-icon>
            <p>Add Item</p>
          </td>
          <td style="border-width: 0px 0px">&nbsp;</td>
        </tr>
      </table>
      <h2>Total Calories</h2>
      <table class="total">
        <tr>
          <th style="text-align: right; width: 75%">Total:</th>
          <th class="total-value">0 Calories</th>
        </tr>
      </table>
    </div>
  </section>

  <!-- Recipes -->

  <section class="recipe-section" id="recipes">
    <!-- RECIPE SUBMISSION POPUP -->
    <div class="popup-bg" id="popup1">
      <div class="recipe-submission">
        <h1 style="text-align: center">Submit Recipe</h1>
        <ion-icon name="close-outline"></ion-icon>
        <form action="https://eatright-api.herokuapp.com/api/v1/recipe/" enctype="multipart/form-data" method="POST">
          <label for="username">Username</label><br>
          <input type="text" name="username" id="username" required /><br>
          <label for="recipe-name">Recipe name</label><br>
          <input type="text" name="recipe-name" id="recipe-name" required /><br>
          <label for="img">Add image url of meal photo</label><br>
          <input type="text" id="img" name="image_url" accept="image/*" required /><br>
          <label for="categorizing">Category</label><br>
          <select name="category" id="categorizing" required /><br>
          <option value="" disabled selected>Select your option</option>
          <option value="Dessert">Dessert</option>
          <option value="Snack">Snack</option>
          <option value="Dish">Dish</option>
          <option value="Drink">Drink</option>
          <option value="Salad">Salad</option>
          <option value="Sauce">Sauce</option>
          <option value="Soup">Soup</option>
          <option value="Stew">Stew</option>
          </select><br>
          <label for="ingredients">Ingredients</label><br>
          <textarea name="ingredients" rows="8" id="ingredients" placeholder="Please submit each ingredient on a new line.

Example

1 Cup of rice
3 Cups of water
1 TSP of salt" required></textarea>
          <label for="preparation">Preparation</label><br>
          <textarea name="preparation" rows="8" id="preparation" placeholder="Please submit each step on a new line.
Example

Put the rice in the bowl and wash it thoroughly.
Add water, rice and some salt on a cooker on medium heat.
Close the lid until it is cooked." required></textarea><br>
          <input type="submit" />
        </form>
      </div>
    </div>

    <!-- RECIPE VIEW POPUP -->
    <div class="recipe-view-popup-bg"></div>

    <!-- RECIPES ARTICLES -->
    <div class="recipes">
      <h1 class="heading">Recipes</h1>
      <p class="subtext">
        Enjoy a collection of outlandish foods from all over the World.
        Don't forget to add yours as well, so that we can experience the foods that you've experienced.
      </p>
      <!-- <div class="search-box">
        <label>Search:</label>
        <input type="text" name="search" class="search-text" placeholder="search recipe">
      </div> -->
      <div class="recipes_search"></div>
      <div class="recipes_list">
        {% for recipe in recipes.values() %}
        <article class="recipe" id="{{ recipe.id }}">
          <div class="category">
            <img src="../static/images/{{ recipe.category }}.png" alt="recipe logo" />
          </div>
          <img src="{{recipe.image_url}}" alt="recipe images" />
          <div class="content">
            <div class="food_name">
              <h2>{{ recipe.name }}</h2>
            </div>
            <div class="author">
              <p>By {{ recipe.user_name }}</p>
            </div>
          </div>
        </article>
        {% endfor %}
        <article class="add-recipe">
          <h2>
            <ion-icon name="add-outline"></ion-icon>Add recipe
          </h2>
        </article>
      </div>
    </div>
  </section>
  
  <!-- About Us -->

  <section class="about_us" id="about">
    <h2 class="heading">About</h2>
    <p class="subtext">
      Eat Right is an app that will help you count your daily calorie
      intake. by providing you with an abundant food data and calories.
      The app is not only a calorie counter, it also has a section where
      you can share your favorite recipe with anyone who vists the app.<br>
      <a class="repolink" href="https://github.com/tcrz/Eat_Right" target="_blank">
        Here's a link to the Github repo of the project
      </a>
    </p>

    <div class="about_container">
      <div class="mission">
        <h2>Our Mission</h2>
        <!-- <h1 class="our_mission2">Mission</h1> -->
        <!-- <p>
            Eat Right is an app that will help you count your daily calorie
            intake. by providing you with an abundant food data and calories.
            The app is not only a calorie counter, it also has a section where
            you can share your favorite recipe with anyone who vists the app.
          </p> -->
        <p>
          <!--Eat Right is an app that will help you count your daily calorie
          intake. by providing you with an abundant food data and calories.
          The app is not only a calorie counter, it also has a section where
	  you can share your favorite recipe with anyone who vists the app. -->
          Our mission is to help you stay healthy and for you to join a site
          where you can discover exotic meals from all over the world with
          just a click of a button. As long as you want to maintain a healthy
          lifestyle, you have come to the right place. because We want to join
          you on your journey for a better life.
        </p>
      </div>
      <div class="story">
        <h2>Our Story</h2>
        <!-- <h2 style="margin-top:-30px">Story</h2> -->
        <!-- <h1 class="our_story2">Story</h1> -->
        <p>
          The idea for the app came when we were
          brainstorming individually on what to create, we realised that we all had a similar idea.
          When we discussed it, It sounded so fun, doable, and helpful.
          It has not been an easy journey and the beginning is always the hardest part. We powered through the
          difficult period and pushed on. With time, it started to come together the way we imagined it.
          Ideas we did not even think of, in the beginning, became part of it and it worked. We can only
          hope that you enjoy it as much as we enjoyed making this.
        </p>
      </div>
      </div>
      <h3 class="new-text">More on this video</h3>
      <div class="videos">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GbrRQd3GOCo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
  </section>
  
  <!-- Developers -->

  <section class="developers" id="developers">
    <div class="creators">
      <div class="title">
        <h1 class="heading">Developers</h1>
      </div>

      <div class="box">
        <div class="card">
          <img src="../static/images/tp.jpg" alt="developer photo" />
          <h5>Kaleab Tesfaye</h5>
          <div class="para">
            <p>
              Hi, I am Kaleab, a Software engineer student from Ethiopia. I am
              interested in exploring, and learning new things.
              <br>
              I contributed the backend work and styling of certain areas of
              the webpage.
            </p>
          </div>
          <div class="logos">
            <a href="https://twitter.com/samdre60" target="_blank">
              <img src="../static/images/twitter.png" alt="twitter logo" /></a>
            <a href="https://github.com/kalom60" target="_blank">
              <img src="../static/images/github.png" alt="github logo" /></a>
            <a href="https://linkedin.com/in/kaleab-tesfaye-3b0546201" target="_blank">
              <img src="../static/images/linkedin.png" alt="linkedin logo" />
            </a>
          </div>
        </div>

        <div class="card">
          <img src="../static/images/ssb.jpg" alt="developer photo" />
          <h5>Samra Solomon</h5>
          <div class="para">
            <p>
              Hi, I am Samra Solomon, a Software engineer student from Ethiopia. I am
              interested in Reading, Cooking, Sowing and now my new addiction Coding.
              <br>
              I contributed the backend work, creating and styling of certain sections of
              the webpage.
            </p>
          </div>
          <div class="logos">
            <a href="https://twitter.com/Samie67514029" target="_blank">
              <img src="../static/images/twitter.png" alt="twitter logo" />
            </a>
            <a href="https://github.com/samie-ya" target="_blank">
              <img src="../static/images/github.png" alt="github logo" />
            </a>
            <a href="https://linkedin.com//in/samra-solomon-24b745208" target="_blank">
              <img src="../static/images/linkedin.png" alt="linkedin logo" />
            </a>
          </div>
        </div>

        <div class="card">
          <img src="../static/images/tb.jpg" alt="developer photo" />
          <h5>Tony Baidoo</h5>
          <div class="para">
            <p>
              I am Tony Baidoo, a Software engineer from Ghana. I am
              interested in solving problems with software and exploring new things.
              <br>
              I contributed to mainly the frontend development, page design as well as backend support where necessary
            </p>
          </div>
          <div class="logos">
            <a href="https://twitter.com/iam_tonnie" target="_blank">
              <img src="../static/images/twitter.png" alt="twitter logo" />
            </a>
            <a href="https://github.com/tcrz" target="_blank">
              <img src="../static/images/github.png" alt="github logo" />
            </a>
            <a href="https://linkedin.com/in/tony-baidoo-0aaab7230" target="_blank">
              <img src="../static/images/linkedin.png" alt="linkedin logo" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>
