/* --------------------------------
/*BASIC SET-UP*/
/*--------------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-size: 300%;
}

/* li {list-style: none;} */

a {
  color: black;
  text-decoration: none;
}

body {
  margin-top: 15px;
  font-family: "poppins";
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

/*--------------------------------*/
/*LANDING SECTION */
/*--------------------------------*/
header {
  width: 100%;
  height: 100vh;
  /* background: red; */
  border-bottom: 1px solid #5db85d;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background: orange; */
  max-width: 1100px;
  margin: 0 auto;
  gap: 15%;
  margin-top: 5px;
  margin-bottom: 20px;
}

.menu-nav {
  display: flex;
}

.menu-nav li {
  padding: 0 20px;
  border-bottom: 2px solid transparent;
  list-style: none;
}

.menu-nav li:hover {
  padding-bottom: 1px;
  border-bottom: 2px solid #5db85d;
}

.menu-icons>ion-icon {
  font-size: 130%;
  border: 1px solid black;
  padding: 6px;
  border-radius: 50%;
  background: black;
  color: white;
}

.landing {
  display: flex;
  justify-content: space-around;
  max-width: 1150px;
  background: linear-gradient(#e6e9e3, #cecfc79d);
  background-color: rgb(199, 240, 208);
  /* background-color: grey; */
  margin: 0 auto;
  border-radius: 30px;
  height: 80%;
  /* position:relative; */
  /* overflow: hidden; */
  /* background: orange; */
  /* padding-top:40px; */
}

.hero-text-box {
  /* background: white; */
  /* position: absolute; */
  width: 600px;
  /* top: 18%; */
  /* left: 3%; */
  letter-spacing: 1px;
  word-spacing: 3px;
  padding-top: 100px;
  /* margin-left: 20px; */
  /* background:red */
}

.landing .hero-text-box h1 {
  font-size: 300%;
  font-weight: 600;
  /* text-transform: uppercase; */
  color: black;
  letter-spacing: 0px;
  margin-bottom: 5px;
  line-height: 50px;
}

.hero-text-box p {
  width: 550px;
  margin-bottom: 35px;
}

.hero-img {
  /* background:green; */
  /* position:relative; */
  /* padding:30px 20px; */
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.hero-img img {
  /* position: absolute;  */
  /* right: 5%; */
  /* top: 5%; */
  /* margin: 20px 40px auto 0; */
  /* float: left; */
  /* background: red; */
  width: 100%;
  /* height:30% */
  border-radius: 50%;
  /* margin-left:20px; */
  box-shadow: rgba(10, 10, 10, 0.534) -5px 5px 9px;
}

.hero-text-box a {
  /* color: green; */
  font-size: 120%;
  border: 1px solid #5db85d;
  border-radius: 150px;
  /* margin-top:20px; */
  margin-right: 20px;
  padding: 15px 40px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.2s;
  /* background: none; */
}

.CC-btn {
  background: #5db85d;
  color: white;
}

.recipes-btn {
  background: none;
  color: #5db85d;
}

.recipes-btn:hover {
  background: #5db85d;
  color: white;
}

.CC-btn:hover {
  background: transparent;
  color: #5db85d;
}

/*******************************
 *      Calorie Predictor      *
 ******************************/
.calorie-predictor {
  background: white;
  padding-bottom: 50px;
  border-bottom: 1px solid #5db85d;
}

.predictor-form {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:space-around;
  width: 33%;
  height: 500px;
  border: 1px solid #b69382;
  margin: 0 auto;
  background-color: #ccf5dd38;
  padding:20px
}

.predictor-form label{
  margin-left:30px
}

.calorie-predictor p {
  text-align: center;
  font-size: 25px;
  font-weight: 25px;
  /* margin: 20px 0; */
}

.term, .for-pregnant, .for-all{
  text-align: center;
}

.for-pregnant {
  display: none;
}

.term {
  display: none;
}

.for-all {
  display:flex;
  align-items:center;
  flex-direction:column;
  /* display: block; */
}

.age-field{
  padding-bottom:30px
}

.for-pregnant h3,
.term h3 {
  text-align: center;
  /* margin: 20px 0; */
  font-size: 20px;
}

.predictor-form h3,
.for-all h3{
  text-align: center;
  /* margin: 20px 0; */
  font-size: 30px;
}

.predictor-form .term label {
  /* margin-left: 60px; */
}

.predictor-form label,
.for-pregnant label,
.for-all label {
  /* margin-left: 90px; */
}

.for-all input[type="number"],
.for-all select {
  width: 150px;
  height: 30px;
  border-radius: 8px;
  /* margin-left: 150px; */
  text-align: center;
}
.predictor-form button {
  /* width: 70px; */
  /* height: 35px; */
  all: unset;
  padding: 5px 30px;
  font-size:120%;
  font-weight: 600;
  border: 1px solid #7fcf9a;
  border-radius: 25px;
  background-color: #5db85d;
  color: white;
  text-align: center;
  cursor:pointer;
  /* margin-top: 60px; */
  /* margin-left: 180px; */
}

/*--------------------------------*/
/*CALORIE COUNTER SECTION         */
/*--------------------------------*/

.calorie-section {
  background: #ccf5dd38;
  padding-bottom: 20px;
  border-bottom: 1px solid #5db85d;
}

.calorie-counter {
  max-width: 1150px;
  margin: 0 auto;
  /* height:100vh; */
  /* margin-bottom: 50px; */
  /* background:yellow; */
}

.heading {
  text-align: center;
  /* border-bottom: 1px solid #5db85d; */
}

.subtext {
  text-align: center;
  margin: 0 auto;
  width: 60%;
  margin-bottom: 20px;
}

.calorie-counter>h2 {
  padding-bottom: 10px;
  margin-left: 100px;
}

table {
  margin-top: 5px;
  width: 76%;
  border-collapse: collapse;
  background: #f3f3f3;
  border: 1px solid #5db85d;
  margin: 0 auto;
  margin-bottom: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  /* padding: 30px */
}

/* tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

tr:last-of-type {
  border-bottom: 2px solid #5db85d;
  background-color: #e6e9e3;
}

td,
th {
  border: 1px solid #5db85d;
  text-align: left;
  padding: 10px;
}

td {
  font-size: 110%;
  /* font-weight: bold; */
}

th {
  background: #5db85d;
  color: white;
  font-size: 110%;
}

th.food-col {
  width: 75%;
}

td.food .serving {
  font-size: 70%;
  padding: 0;
  margin: 0;
}

td.add-item {
  background: none;
  border-width: 0px 0px;
  display: inline-flex;
  font-weight: 500;
  color: #5da6b8;
  width: 100%;
}

td.add-item ion-icon {
  font-size: 130%;
  /* border: 1px solid yellow; */
  text-align: center;
}

td.add-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*****************
FOOD SEARCH FIELD 
******************/
tr.hide {
  display: none;
  background: red;
}

td.search {
  padding: 5px;
  border-right: 0;
}

td.search label {
  font-size: 70%;
}

td.search input[type="text"],
td.search input[type="number"],
td.search select,
td button {
  padding: 5px;
  /* background: red; */
}

td.search input[type="text"] {
  width: 30%;
}

td.search input[type="number"] {
  width: 10%;
}

td.search select {
  width: 29%;
}

td.search-btn {
  padding: auto 0%;
  text-align: center;
  border-width: 0px 0px 1px;
  /* margin:0 auto */
}

td button {
  width: 70%;
}

/*--------------------------------*/
/*RECIPES SECTION                 */
/*--------------------------------*/
/* .recipe-section {
    background: red;
} */

.recipes {
  /* max-width: 1150px; */
  margin: 0 auto;
  background: white;
}

.recipes_list, .recipes_search {
  /* background: yellow; */
  margin: 25px 100px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 30px;
  justify-content: space-around;
}

.recipe {
  width: 250px;
  border: 1px solid #d4cece;
  border-radius: 15px;
  background: white;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  /* box-shadow: #5db85db0 -5px 5px */
  border-bottom: 2px solid #5db85d;
  position: relative;
}

.recipe:hover {
  /* width: 270px; */
  /* box-shadow: #5db85db0 -5px 5px; */
  cursor: pointer;
}

.recipe img {
  width: 100%;
  height: 200px;
  /* object-fit: fill; */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.content {
  margin: 0px 10px;
}

.details p {
  font-size: 95%;
  margin: 8px 0;
}

.author p {
  /* font-weight: 500; */
  margin: 10px 0;
}

.category img {
  width: 45px;
  height: 45px;
  padding: 4px;
  background-color: #FC7C3C;
  border-radius: 15px;
  position: absolute;
  top: 1%;
  right: 1%;
}

.add-recipe {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(#e6e9e3, #cecfc79d);
  background-color: rgba(102, 102, 102, 0.76);
  width: 250px;
  border: 1px solid #d4cece;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  /* box-shadow: #5db85db0 -5px 5px */
  border-bottom: 2px solid #5db85d;
  min-height: 300px
}

.add-recipe h2 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  font-size: 200%;
  /* color:grey; */
  color: #333;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  /* background: green; */
}

.add-recipe ion-icon {
  font-size: 200%;
  border: 2px solid black;
  border-radius: 50%;
  margin: 0 auto;
  padding: 5px;
}

/* RECIPE SEARCH FIELD */
.search_box {
  display: flex;
  justify-content: center;
  gap:1%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.search_text {
  font-size: 20px;
  padding-left: 13px;
  border-radius: 20px;
}

.search_box input[type="text"]:focus{
  outline: none;
  border-radius: 20px;
  border:2px solid #70cf70
}
/****************************
 * RECIPE SUBMISSION POP-UP *
*****************************/
.popup-bg,
.recipe-view-popup-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(170, 192, 167, 0.486);
  width: 100%;
  height: 100%;
  display: none;
  backdrop-filter: blur(5px);
  z-index: 9999;
}

/* .recipe-view-popup-bg{
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(170, 192, 167, 0.486);
    width: 100%;
    height: 100%;
    display: none;
    backdrop-filter: blur(5px);
    z-index:9999;
} */

.recipe-submission {
  display: block;
  position: relative;
  width: 600px;
  height: 95%;
  margin: 0 auto;
  padding: 20px 30px;
  margin-top: 15px;
  border-radius: 50px;
  border: none;
  background-image: url("../images/Blur.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.recipe-submission h1 {
  font-size: 40px;
}

.recipe-submission::-webkit-scrollbar {
  width: 0px;
}

.recipe-submission {
  overflow: -moz-scrollbars-none;
}

.recipe-submission {
  -ms-overflow-style: none;
}

.recipe-submission {
  font-weight: bold;
  color: #161f47;
}

.recipe-view {
  display: block;
  position: relative;
  width: 800px;
  height: 95%;
  margin: 0 auto;
  padding: 20px 30px;
  margin-top: 15px;
  border-radius: 50px;
  border: none;
  background-image: url("../images/blurred.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.recipe-view::-webkit-scrollbar {
  width: 0px;
}

.recipe-view {
  overflow: -moz-scrollbars-none;
}

.recipe-view {
  -ms-overflow-style: none;
}

.head .recipe-name {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #161f47;
}

.head img {
  width: 400px;
  height: 300px;
  margin: 10px 125px 10px 175px;
  border-radius: 20px;
}

.ingredients {
  margin: 10px 0 0 5px;
}

.ingredients h2,
.preparation h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0 10px 0;
  color: #161f47;
}

.ingredients li,
.preparation li {
  font-size: 20px;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  font-weight: 20;
  margin: 0 0 10px 30px;
  color: #161f47;
}

.recipe-view h4 {
  font-size: 20px;
  margin: 20px 0 0 20px;
}

.recipe-submission ion-icon {
  background: grey;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  outline: none;
  width: 45px;
  height: 45px;
  position: fixed;
  right: 400px;
  top: 30px;
}

.recipe-view ion-icon {
  background: grey;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  outline: none;
  width: 45px;
  height: 45px;
  position: fixed;
  right: 300px;
  top: 30px;
}

.recipe-submission ion-icon:hover,
.recipe-view ion-icon:hover {
  color: #70cf70;
}

/***********************
 *   Form  content     *
 **********************/

/* form {
    background:red;
} */

.recipe-submission input,
.recipe-submission textarea,
.recipe-submission select {
  margin-bottom: 10px;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 25px 0px;
}

.recipe-submission input[type="submit"] {
  background: #5db85d;
  color: white;
  font-size: 120%;
  border: 1px solid #5db85d;
  border-radius: 150px;
  /* margin-top:20px; */
  margin-right: 20px;
  padding: 10px 15px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.2s;
  cursor: pointer;
}

.recipe-submission input[type="submit"]:hover {
  background: #70cf70;
}

/* label {
    padding:10px 0;
} */

.recipe-submission input[type="text"] {
  border: 1px solid #6f7b8c;
  border-radius: 50px;
}

.recipe-submission input[type="file"]::file-selector-button {
  background-color: #4267a1;
  color: white;
  font-size: 15px;
  border: 1px solid #4267a1;
  border-radius: 10px;
  margin-right: 20px;
  padding: 5px 5px;
  font-weight: 600;
  transition: background-color 0.3s, color 0.2s;
  cursor: pointer;
}

.recipe-submission input[type="file"]::file-selector-button:hover {
  background-color: #90a9b2;
}

.recipe-submission textarea {
  border: 1px solid #6f7b8c;
  border-radius: 5px;
  width: 100%;
  resize: none;
}

.recipe-submission option {
  font-size: 15px;
  font-family: helvetica neue, helvetica, arial, sans-serif;
}

.recipe-submission select {
  border: 1px solid #6F7B8C;
  border-radius: 5px;
  width: 35%;
}

.recipe-submission textarea:focus,
.recipe-submission input[type="text"]:focus,
.recipe-submission select:focus {
  box-shadow: 0 0 5px #5db85d;
  border: 1px solid #5db85d;
}

/***********************
 *   About us          *
 **********************/

.about_us {
  border: 1px solid green;
  background: #ccf5dd38;
}

.heading {
  margin-top: 10px;
  font-size: 300%;
}

.section_title,
.section_subtitle {
  text-align: center;
}

.about_container {
  /* display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 20px; */
  padding: 0 50px;
  padding-top: 20px;
  padding-bottom: 150px;
  /* height:90vh; */
  /* text-align:center; */
  display: flex;
  gap: 10%;
  /* justify-content: space-around; */
}

.about_container h2 {
  font-size: 200%
}

.mission,
.story {
  width: 600px
}

.mission {
  /* border: 1px solid green; */
  /* height: 450px; */
  /* background:red */
}

.story {
  /* background:yellow; */
}

.mission p,
.story p {
  /* border: 1px solid red; */
  /* margin-top: 20px;
  padding-left: 100px; */
}

.story p {
  /* padding-right: 120px; */
}

.our_mission1,
.our_story1 {
  /* border: 1px solid red; */
  /* margin-top: 30px;
  margin-left: 70px; */
}

.our_mission2,
.our_story2 {
  /* border: 1px solid blue; */
  /* margin-top: -30px;
  margin-left: 100px; */
}

.creators {
  /* width: 100%; */
  /* padding: 100px 0px; */
}

.title h2 {
  color: black;
  font-size: 40px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* min-height: 400px; */
}

.card {
  /* border: 1px solid red; */
  /* height: 530px; */
  width: 335px;
  padding: 20px 35px;
  border-radius: 20px;
  background-color: #ccf5dd38;
  margin: 15px;
  /* position: relative; */
  /* overflow: hidden; */
  text-align: center;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 10px 0px;
  margin-left: auto;
  margin-right: auto;
}

.card h5 {
  font-size: 23px;
  margin-bottom: 15px;
}

.para p {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logos img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
